---
layout: default
---

<div class="home">

<h1 class="page-heading">文章列表</h1>

{{ content }}

<ul class="post-list">
{% for post in site.posts %}
<li>
<span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>

<h2>
<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
</h2>
</li>
{% endfor %}
</ul>

<h1 class="page-heading">其他整理</h1>

<ul class="post-list">
<li><h2><a class="post-link" href="{{ "/java/" | relative_url }}">Java</a></h2></li>
</ul>

<p class="rss-subscribe">订阅
<a href="{{ "/feed.xml" | relative_url }}">RSS</a>
<a href="http://feeds.feedburner.com/xueji/rss">FeedBurner</a>
</p>

</div>
